/*  your css code here. If applicable */
.title{
	padding: 20px;
	background-color: #f5f5f5;
}
.testimonal {
	padding: 15px;
	border: 1px solid #ccc;
	background-color: #fff;
	margin-bottom: 20px;
}

.testimonal-text {
	margin-bottom: 10px;
}

.testimonal-author {
	text-align: right;
	font-style: italic;
}